* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #060114e3;
  padding: 2rem 0;
}
.container {
  width: 700px;
  height: auto;
  margin: 0 auto;
  background-color: #050011b4;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

.products {
  width: 200px;
  height: 100%;
  border: 1px solid #0011ff;
  color: white;
}
.products > img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.buttons {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.background {
  background-color: #0099ffe3;
  transition: all 0.5s linear;
}
ul {
  display: flex;
  gap: 10px;
}
li {
  border: 1px solid black;
  list-style: none;
  padding: 10px 20px;
  cursor: pointer;
  color: white;
}
