.add-comment-input,
.add-comment-button {
  padding: 10px 5px;
  font-size: 15px;
}

.reply-button {
  outline: none;
  border: none;
  background-color: #00008030;
  border-radius: 30%;
  color: aliceblue;
  padding: 5px;
  transition: background-color 0.3s linear;
  cursor: pointer;

  &:hover {
    background-color: #00008074;
  }
}
